<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!-- Bootstrap Core JavaScript -->
<script th:src="@{/js/bootstrap.min.js}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{/js/metisMenu.min.js}"></script>

<!-- Custom Theme JavaScript -->
<script th:src="@{/js/sb-admin-2.js}"></script>

<!-- DataPicker -->
<script th:src="@{/js/jquery-ui.min.js}"></script>

<script th:src="@{/DataTables-1.10.12/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/moment-with-locales.min.js}"></script>

<script th:src="@{/js/angular.min.js}"></script>
<script th:src="@{/js/angular-ui-router.js}"></script>
<script th:src="@{/js/ui-bootstrap-tpls-2.2.0.js}"></script>
<script th:src="@{/js/ngprogress-lite.js}"></script>
<script th:src="@{/js/angular-app.js}"></script>
</body>
</html>